@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

/* If you need any additional @font-face definitions for other font weights and styles, add them here */
