/** Used to define containerDiv behavior: width, position: fixed etc... **/
@media screen and (max-width: 600px) {
  .Toastify__toast-container {
    width: 100vw;
    display: flex;
  }
}

/** Used to define the position of the ToastContainer **/
@media screen and (min-width: 601px) {
  .Toastify__toast-container--top-left {
    position: fixed;
    width: fit-content;
    top: 24px;
    justify-content: start;
    left: 24px;
  }

  .Toastify__toast-container--top-center {
    position: fixed;
    width: fit-content;
    top: 24px;
    justify-content: center;
  }

  .Toastify__toast-container--top-right {
    position: fixed;
    width: fit-content;
    top: 24px;
    justify-content: end;
    right: 24px;
  }

  .Toastify__toast-container--bottom-left {
    position: fixed;
    width: fit-content;
    bottom: 24px;
    justify-content: start;
    left: 24px;
  }

  .Toastify__toast-container--bottom-center {
    position: fixed;
    width: fit-content;
    bottom: 24px;
    justify-content: center;
  }

  .Toastify__toast-container--bottom-right {
    position: fixed;
    width: fit-content;
    bottom: 24px;
    justify-content: end;
    right: 24px;
  }
}

@media screen and (max-width: 600px) {
  .Toastify__toast-container--top-left {
    top: 24px;
    justify-content: start;
    padding-left: 24px;
  }

  .Toastify__toast-container--top-center {
    top: 24px;
    justify-content: center;
  }
  
  .Toastify__toast-container--top-right {
    top: 24px;
    justify-content: end;
    padding-right: 24px;
  }

  .Toastify__toast-container--bottom-left {
    bottom: 60px;
    justify-content: start;
    padding-left: 24px;
  }

  .Toastify__toast-container--bottom-center {
    bottom: 60px;
    justify-content: center;
  }

  .Toastify__toast-container--bottom-right {
    bottom: 60px;
    justify-content: end;
    padding-right: 24px;
  }
}



/** Classes for the displayed toast **/
@media screen and (max-width: 600px) {
  .Toastify__toast {
    top: 0;
  }
}
.Toastify__toast--rtl {
}
.Toastify__toast-body {
}

/** Used to position the icon **/
.Toastify__toast-icon {
}

/** handle the notification color and the text color based on the theme **/
.Toastify__toast-theme--dark {
}
.Toastify__toast-theme--light {
}
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast-theme--colored.Toastify__toast--info {
}
.Toastify__toast-theme--colored.Toastify__toast--success {
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
}
.Toastify__toast-theme--colored.Toastify__toast--error {
}

.Toastify__progress-bar {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar-theme--light {
}
.Toastify__progress-bar-theme--dark {
}
.Toastify__progress-bar--info {
}
.Toastify__progress-bar--success {
}
.Toastify__progress-bar--warning {
}
.Toastify__progress-bar--error {
}
/** colored notifications share the same progress bar color **/
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}