@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Calibri", sans-serif;
    /* height: 100vh; */
    position: relative;
    overscroll-behavior: none;
}

.bg-image {
    /* The image used */
    background-image: url('./../../public/bg.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


html {
    position: relative;
    height: 100vh;
}
