@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-900-normal.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-800-normal.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-700-normal.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-600-normal.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-500-normal.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-300-normal.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-200-normal.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("lexend-latin-100-normal.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-100-normal.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-800-normal.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-700-normal.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-600-normal.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-500-normal.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-300-normal.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-200-normal.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Ext";
  src: url("lexend-latin-ext-100-normal.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-100-normal.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-800-normal.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-700-normal.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-600-normal.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-500-normal.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-300-normal.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-200-normal.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Vietnamese";
  src: url("lexend-vietnamese-100-normal.ttf");
  font-weight: 100;
  font-style: normal;
}

